{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
<h1>Привет, мы команда VIA MOTO</h1>
<p>
    VIAMOTO это мотосервис, магазин мото запчастей, расходных материалов и аксессуаров для мотоциклов, скутеров, квадроциклов, снегоходов, масла и фильтры для лодочных моторов, гидроциклов. Доставка по всей России а так-же большой выбор шлемов, маек, футболок, пирсинга, колец, сувенирной и подарочной продукции.
    Вкуснейший итальянский кофе, сэндвичи.
</p>
</div>
{% endblock %}